%header.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to root_path do
          = image_tag 'logo-.svg', alt: 'icon'
      .searchBox
        = form_with url: '#', method: :get, local: true do |f|
          = f.text_field :searchInput, name: "key", class: "searchBox--input", placeholder: "キーワードから探す"
          %button{type: "submit"}
            .searchBox__icon
              = image_tag 'icon-search.svg', alt: 'icon'
      %ul.resultLists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to "#", id: "catBtn" do
            カテゴリー
          .tree.displayNone
            %ul.categoryTree.displayNone
        %li.listsLeft__item
          = link_to "#", id: "brandBtn" do
            ブランド
          %ul.brandsPulldown.displayNone
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "#" do
            ログイン
        %li.listsRight__item.listsRight__item--new
          = link_to "#" do
            新規会員登録
        
.main
  %section.mainVisual